nav {
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	background: getColor(purple);
	margin-bottom: 24px;

	&.fixed {
		position: fixed;
	    z-index: 9;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
   	
   	ul {
   		margin-bottom: 0px;
   	} 
	
    ul li a {
    	display: inline-block;
		padding: 12px 24px;
		color: getColor(white);
		opacity: .7;
		text-transform: uppercase;

		&:hover, &:active, &:focus {
			color: getColor(white);
			text-decoration: none;
			opacity: 1;
		}

		&.active {
			opacity: 1;
			font-weight: bold;
    		border-bottom: 3px solid getColor(white);
		}
    }
}