<div class="row">
	<div class="col-sm-6">
		<form>
		  <div class="form-group">
		    <label for="newPostTitle">Post title</label>
		    <input type="text" class="form-control" id="newPostTitle" ng-model="newPost.title" placeholder="Title" required>
		  </div>
		  <div class="form-group">
		    <label for="newPostLink">Link</label>
		    <input type="url" class="form-control" id="newPostLink" ng-model="newPost.link" placeholder="http://..." required>
		  </div>
		  <button type="submit" class="btn btn--primary" ng-click="submitPost()">Submit</button>
		</form>
	</div>
</div>

